<template>
  <v-layout>
    <v-flex xs12 sm12>
      <v-card class="elevation-0">
        <v-card-title>
          <span class="headline">Lista de Cidades</span>
          <v-spacer></v-spacer>
          <v-btn @click="nova" color="red lighten-1" dark >Nova Cidade</v-btn>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="getCidades"
          hide-actions
          class="elevation-0"
        >
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.nome }}</td>
            <td class="text-xs-left">{{ props.item.estado.nome }}</td>
            <td class="text-xs-center">
              <v-btn fab small @click="editItem(props.item)">
                <v-icon>edit</v-icon>
              </v-btn>

              <v-btn fab small color="red" dark @click="deleteItem(props.item)">
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <v-dialog v-model="cidadeForm" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Cadastrar nova Cidade</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field v-model="cidade.nome" label="Nome" required></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-select
                  item-text="nome"
                  color="blue-grey"
                  item-value="_id"
                  :items="getEstados"
                  v-model="cidade.estado"
                  label="Selecione o Estado"
                ></v-select>
              </v-flex>


            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="cidadeForm = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="cadastrar(cidade)">Cadastrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="editForm" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Editar Cidade</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field v-model="cidade.nome" label="Nome" required></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-select
                  item-text="nome"
                  color="blue-grey"
                  item-value="_id"
                  :items="getEstados"
                  v-model="cidade.estado"
                  label="Selecione o Estado"
                ></v-select>
              </v-flex>

            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="editForm = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="editCidade(cidade)">Atualizar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-layout>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  export default {
    data () {
      return {
        cidadeForm: false,
        editForm: false,
        search: '',
        cidade: {
          nome: '',
          estado: ''
        },
        headers: [
          {
            text: 'Nome',
            align: 'left',
            sortable: false,
            value: 'nome'
          },
          {
            text: 'Estado',
            align: 'left',
            sortable: false,
            value: 'estado.nome'
          },
          {
            text: 'Ação',
            align: 'center',
            sortable: false,
            value: 'nome'
          },
        ]
      }
    },
    methods:{
      ...mapActions(['listaCidade', 'cadastroCidade', 'alteraCidade', 'deletaCidade', 'listaEstado']),
      cadastrar(cidade){
        this.cadastroCidade(cidade).then(r => {
          //console.log(r)
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.cidadeForm = false
            this.listaCidade()
          }
        })
      },

      nova()
      {
        this.cidadeForm=true
        this.cidade={nome: '', estado: ''}
        //this.usuarioSelected.empresa_id = getUser.empresa_id
      },

      editItem(e) {
        this.editForm = true
        this.cidade = Object.assign({}, e)
      },

      editCidade(cidade) {
        this.alteraCidade(cidade).then(r => {
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.editForm = false
            this.listaCidade()
          }
        })
      },

      deleteItem(cidade_id)
      {
        if(confirm("Tem certeza?"))
        {
            this.deletaCidade(cidade_id).then(r => {
              this.$eventHub.$emit('snackBar', r.message);
              this.listaCidade()
            })
        }
      }
    },
    mounted() {
      this.listaCidade()
      this.listaEstado()
    },
    computed: {
      ...mapGetters(['getCidades', 'getEstados']),
    },
  }
</script>
