<template>
  <v-layout>
    <v-flex xs12 sm12>
      <v-card class="elevation-0">
        <v-card-title>
          <span class="headline">Lista de Estados</span>
          <v-spacer></v-spacer>
          <v-btn @click="estadoForm = true" color="red lighten-1" dark >Novo Estado</v-btn>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="getEstados"
          hide-actions
          class="elevation-0"
        >
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.nome }}</td>
            <td class="text-xs-center">
              <v-btn fab small @click="editItem(props.item)">
                <v-icon>edit</v-icon>
              </v-btn>

              <v-btn fab small color="red" dark @click="deleteItem(props.item)">
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <v-dialog v-model="estadoForm" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Cadastrar novo Estado</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field v-model="estado.nome" label="Nome" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="estadoForm = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="cadastrar(estado)">Cadastrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="editForm" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Editar Estado</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field v-model="estado.nome" label="Nome" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="editForm = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="editEstado(estado)">Atualizar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-layout>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  export default {
    data () {
      return {
        estadoForm: false,
        editForm: false,
        search: '',
        estado: {
          nome: '',
        },
        headers: [
          {
            text: 'Nome',
            align: 'left',
            sortable: false,
            value: 'nome'
          },
          {
            text: 'Ação',
            align: 'center',
            sortable: false,
            value: 'nome'
          },
        ]
      }
    },
    methods:{
      ...mapActions(['listaEstado', 'cadastroEstado', 'alteraEstado', 'deletaEstado']),
      cadastrar(estado){
        this.cadastroEstado(estado).then(r => {
          console.log(r)
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.estadoForm = false
            this.listaEstado()
          }
        })
      },

      editItem(e) {
        this.editForm = true
        this.estado = Object.assign({}, e)
      },

      editEstado(estado) {
        this.alteraEstado(estado).then(r => {
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.editForm = false
            this.listaEstado()
          }
        })
      },

      deleteItem(estado_id)
      {
        if(confirm("Tem certeza?"))
        {
            this.deletaEstado(estado_id).then(r => {
              this.$eventHub.$emit('snackBar', r.message);
              this.listaEstado()
            })
        }
      }
    },
    mounted() {
      this.listaEstado()
    },
    computed: {
      ...mapGetters(['getEstados']),
    },
  }
</script>
