<template>
  <v-layout>

    <v-flex xs12 sm12>
      <v-card class="elevation-0">
        <v-card-title>
          <span class="headline">Gerenciamento de Empresas</span>
          <v-spacer></v-spacer>


        </v-card-title>
        <v-toolbar flat color="white">
          <v-toolbar-title>Categorias</v-toolbar-title>
            <v-divider
              class="mx-2"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-btn @click="categoriaForm = true" color="red lighten-1" dark>Nova Categoria</v-btn>
        </v-toolbar>
        <v-data-table
            :headers="headersCategoria"
            :items="getCategorias"
            hide-actions
            class="elevation-0"
          >
            <template slot="items" slot-scope="props">
              <td class="text-xs-center">{{ props.item.nome }}</td>
              <td class="text-xs-center">
                <v-btn fab dark small class="elevation-0" @click="editCategoriaItem(props.item)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <v-btn fab color="red" dark small class="elevation-0" @click="deleteItem(props.item._id)">
                  <v-icon>delete</v-icon>
                </v-btn>
              </td>
            </template>
        </v-data-table>
        <v-divider></v-divider>
        <v-toolbar flat color="white" class="pt-3">
          <v-toolbar-title>Empresas</v-toolbar-title>
            <v-divider
              class="mx-2"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-btn @click="nova()" color="red lighten-1" dark>Nova Empresa</v-btn>
        </v-toolbar>
        <v-data-table
          :headers="headers"
          :items="getEmpresas"
          hide-actions
          class="elevation-0"
        >
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.nome }}</td>
            <td class="text-xs-left" v-for="(e, i) in props.item.email" :key="i">{{ e }}</td>
            <td class="text-xs-left" v-for="(t, i) in props.item.telefones" :key="i">{{ t }}</td>
            <td class="text-xs-left"><img width="50" :src="`https://67da93a8.ngrok.io/images-loja /${props.item.logo}`"></td>
            <td class="text-xs-center">
              <v-btn fab dark small class="elevation-0" @click="editItem(props.item)">
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn fab color="red" dark small class="elevation-0" @click="deleteItem(props.item._id)">
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <v-dialog v-model="editForm" persistent max-width="900" min-height="900">
      <v-card>
        <v-card-title>
          <span class="headline"> Editar Empresa</span>
        </v-card-title>
        <v-card-text>
          <v-layout align-center justify-center row fill-height>
            <v-flex xs6>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field v-model="dataCadastro.nome" label="Nome" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-combobox
                    v-model="dataCadastro.email"
                    :items="dataCadastro.email"
                    :search-input.sync="searchEmails"
                    hide-selected
                    label="Insira os emails"
                    multiple
                    persistent-hint
                    small-chips
                    type="email"
                  >
                  </v-combobox>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="dataCadastro.categoria"
                    item-text="nome"
                    color="blue-grey"
                    item-value="_id"
                    :items="getCategorias"
                    label="Selecione a categoria"
                  ></v-select>
                </v-flex>

                <v-flex xs12>
                  <v-select
                    v-model="dataCadastro.cidade"
                    item-text="nome"
                    color="blue-grey"
                    item-value="_id"
                    :items="getCidades"
                    label="Selecione a cidade"
                  ></v-select>
                </v-flex>

                <v-flex xs12>
                  <v-text-field v-model="dataCadastro.endereco" label="Endereço" type="text" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-combobox
                    v-model="dataCadastro.telefones"
                    :items="dataCadastro.telefones"
                    :search-input.sync="searchTelefones"
                    hide-selected
                    hint="Insira somente os números"
                    label="Insira os telefones"
                    multiple
                    persistent-hint
                    small-chips
                    type="number"
                  >
                  </v-combobox>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs6>
                <!--<img v-show="!dataCadastro.ext" width="400" :src='dataCadastro.imagemTemp' @click="soriano"/>-->
                <picture-input
                  ref="pictureInput"
                  width="600"
                  height="600"
                  margin="16"
                  accept="image/jpeg,image/png"
                  size="10"
                  button-class="btn"
                  :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Escolha uma imagem',
                    change: 'Mudar foto'
                  }"
                  @change="onChange">
                </picture-input>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="editForm = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="editEmpresa()">Atualizar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="categoriaForm" persistent max-width="600">
      <v-card>
        <v-card-title>
          <span class="headline"> Cadastro de categoria</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field v-model="categoria.nome" label="Nome da Categoria" placeholder="Exemplo: Pizzaria"></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="categoriaForm = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="saveCategoria(categoria)">Cadastrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="categoriaEditForm" persistent max-width="600">
      <v-card>
        <v-card-title>
          <span class="headline"> Edição de categoria</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field v-model="categoria.nome" label="Nome da Categoria" placeholder="Exemplo: Pizzaria"></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="categoriaEditForm = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="editCategoria(categoria)">Cadastrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <v-dialog v-model="dialogFormEmpresa" persistent max-width="900px">
      <v-card>
        <v-card-title>
          <span class="headline"> Cadastrar Empresa</span>
        </v-card-title>
        <v-card-text>
          <v-layout align-center justify-center row fill-height>
            <v-flex xs6>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field v-model="dataCadastro.nome" label="Nome" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-combobox
                    v-model="dataCadastro.email"
                    :items="dataCadastro.email"
                    :search-input.sync="searchEmails"
                    hide-selected
                    label="Insira os emails"
                    multiple
                    persistent-hint
                    small-chips
                    type="email"
                  >
                  </v-combobox>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="dataCadastro.categoria"
                    item-text="nome"
                    color="blue-grey"
                    item-value="_id"
                    :items="getCategorias"
                    label="Selecione a categoria"
                  ></v-select>
                </v-flex>

                <v-flex xs12>
                  <v-select
                    v-model="dataCadastro.cidade"
                    item-text="nome"
                    color="blue-grey"
                    item-value="_id"
                    :items="getCidades"
                    label="Selecione a cidade"
                  ></v-select>
                </v-flex>

                <v-flex xs12>
                  <v-text-field v-model="dataCadastro.endereco" label="Endereço" type="text" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-combobox
                    v-model="dataCadastro.telefones"
                    :items="dataCadastro.telefones"
                    :search-input.sync="searchTelefones"
                    hide-selected
                    hint="Insira somente os números"
                    label="Insira os telefones"
                    multiple
                    persistent-hint
                    small-chips
                    type="number"
                  >
                  </v-combobox>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs6>

                <picture-input
                  ref="pictureInput"
                  width="600"
                  height="600"
                  margin="16"
                  accept="image/jpeg,image/png"
                  size="1"
                  button-class="btn"
                  :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Escolha uma imagem',
                    change: 'Mudar foto'
                  }"
                  @change="onChange">
                </picture-input>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="dialogFormEmpresa = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="cadastrar()">Cadastrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar
      color="success dard-1"
      v-model="snackbar"
      :bottom="'bottom'"
      :right="'right'">
        {{message}}
        <v-btn color="white" flat="" @click="snackbar=false">Fechar</v-btn>
      </v-snackbar>
  </v-layout>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  import PictureInput from 'vue-picture-input'
  export default {
    components: {
      PictureInput
    },
    data () {
      return {
        dialogFormEmpresa: false,
        categoriaEditForm: false,
        categoriaForm: false,
        editForm: false,
        snackbar: false,
        message: '',
        categoria: {
          nome: ''
        },
        dataCadastro: {
          nome: '',
          email: [],
          categoria: '',
          cidade: '',
          endereco: '',
          telefones: [],
          imagem: '',
          ext: ''
        },
        empresas: [
          {_id: 10152345,name: 'Ki Lab', telefone: '16 3384-6666'},
        ],
        searchTelefones: '',
        searchEmails: '',
        headers: [
          {
            text: 'Nome',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {
            text: 'Email',
            align: 'left',
            sortable: false,
            value: 'email'
          },
          {
            text: 'Telefones',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {
            text: 'Imagem',
            align: 'left',
            sortable: false,
            value: 'imagem'
          },
          {
            text: 'Ação',
            align: 'center',
            sortable: false,
            value: 'name'
          },
        ],
        headersCategoria: [
          {
            text: 'Nome',
            align: 'center',
            sortable: false,
            value: 'nome'
          },
          {
            text: 'Ação',
            align: 'center',
            sortable: false,
            value: 'name'
          },
        ]
      }
    },
    methods:{
      ...mapActions(['listaEmpresa', 'cadastroEmpresas', 'cadastroCategoria', 'alteraCategoria', 'listaCategoriaEmpresa', 'alteraEmpresa', 'deletaEmpresa', 'checkUsuario', 'listaCidade', 'listaEstado']),

      cadastrar(){
        let formData = new FormData()
        formData.append("nome", this.dataCadastro.nome)
        formData.append("email", this.dataCadastro.email)
        formData.append('categoria', this.dataCadastro.categoria)
        formData.append('cidade', this.dataCadastro.cidade)
        formData.append("endereco", this.dataCadastro.endereco )
        formData.append("telefones", this.dataCadastro.telefones )
        formData.append("imagem", this.dataCadastro.imagem )
        formData.append("ext", this.dataCadastro.ext )

        this.cadastroEmpresas(formData).then(r => {
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.dialogFormEmpresa = false
            this.checkUsuario()
            this.listaEmpresa()
          }
        })
      },

      nova() {
        this.dialogFormEmpresa = true
          this.dataCadastro = {
            nome: '',
            email: [],
            categoria: '',
            cidade: '',
            endereco: '',
            telefones: [],
            imagem: '',
            imagemTemp: '',
            ext: ''
          }
      },

      soriano() {
        console.log(this.$refs.pictureInput.onClick())
      },

      saveCategoria(categoria) {
        /*let formData = new FormData()
        formData.append("nome", this.categoria.nome)*/
        this.cadastroCategoria(categoria).then(r => {
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.categoriaForm = false
            this.listaCategoriaEmpresa()
          }
        })
      },

      editCategoriaItem(categoria){
        this.categoriaEditForm = true
        this.categoria = Object.assign({}, categoria)
      },

      editCategoria(categoria){
        this.alteraCategoria(categoria).then(r => {
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.categoriaEditForm = false
            this.listaCategoriaEmpresa()
          }
        })
      },

      editItem(empresa) {
        this.editForm = true
        delete empresa.createdAt
        delete empresa.updatedAt
        delete empresa.__v
        this.dataCadastro = Object.assign({}, empresa)
        //this.dataCadastro.imagemTemp = `http://127.0.0.1:3000/images-loja/${empresa.logo}`

      },

      deleteItem(empresa_id)
      {
        if(confirm("Tem certeza?"))
        {
            this.deletaEmpresa(empresa_id).then(r => {
              this.$eventHub.$emit('snackBar', r.message);
              this.listaEmpresa()
            })
        }
      },

      editEmpresa() {
        console.log(this.dataCadastro)
        this.alteraEmpresa(this.dataCadastro).then(r => {
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.editForm = false
            this.listaEmpresa()
          }
        })
      },

      onChange (image) {
        if (image) {
          this.dataCadastro.imagemTemp = image
          let [format, base] = image.split(',')
          format = format.replace('data:image/', '').replace(';base64', '')
          this.dataCadastro.imagem = base
          this.dataCadastro.ext    = format
        } else {
          console.log('FileReader API not supported: use the <form>, Luke!')
        }
      }
    },
    mounted() {
      this.listaEmpresa()
      this.listaCategoriaEmpresa()
      this.listaCidade()
    },
    computed: {
      ...mapGetters(['getCategorias', 'getEmpresas', 'getCidades']),
      /*empresas () {
        return this.$store.getters.getDataUser.empresas
      },
      isLoading () {
        return this.$store.getters.getIsLoadingCheckUser
      }*/
    }
  }
</script>
