<template>
  <v-layout>
    <v-flex xs12 sm12>
      <v-card class="elevation-0">
        <v-card-title>
          <span class="headline">Gerenciamento de produtos</span>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-toolbar flat color="white" class="pt-3">
          <v-toolbar-title>Categorias</v-toolbar-title>
            <v-divider
              class="mx-2"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
          <v-btn @click="dialogFormCategoria = true">Nova Categoria</v-btn>
        </v-toolbar>
        
        <v-data-table
          :headers="categorias"
          :items="getCategoriasProdutos"
          hide-actions
          class="elevation-0"
          :loading="isLoading"
          no-data-text="Nenhum produto encontrado"
        >
          <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
          <template slot="items" slot-scope="props">
            <td class="text-xs-center">{{ props.item.nome }}</td>
            <td class="text-xs-center">
              <v-btn fab dark small @click="editItemCategoria(props.item)">
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn fab color="red" dark small class="elevation-0" @click="deleteItemCategoria(props.item._id)">
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>


        <v-toolbar flat color="white" class="pt-3">
          <v-toolbar-title>Produtos</v-toolbar-title>
            <v-divider
              class="mx-2"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
          <v-btn @click="dialogFormProduto = true">Novo Produto</v-btn>
        </v-toolbar>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="getProdutos"
          hide-actions
          class="elevation-0"
          :loading="isLoading"
          no-data-text="Nenhum produto encontrado"
        >
          <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.nome }}</td>
            <td class="text-xs-left">{{ props.item.preco.toFixed(2).toString().replace(".", ",") }}</td>
            <td>
              <v-chip :color="props.item.status ? 'green' : 'red'" text-color="white">
                {{ props.item.status ? 'Ativo' : 'Inativo' }}
              </v-chip>
            </td>
            <td class="text-xs-left"><img width="50" :src="`https://67da93a8.ngrok.io/images-produto/${props.item.imagem}`"></td>
            <td class="text-xs-left">
              <v-btn fab small @click="showFormEditaProduto(props.item)">
                <v-icon>edit</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <v-dialog v-model="dialogFormCategoria" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Cadastro de categoria</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="Nome" v-model="novaCategoria.nome" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="dialogFormCategoria = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="cadastrarCategoria">Cadastrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="editFormCategoria" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Edição de categoria</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="Nome" v-model="novaCategoria.nome" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="editFormCategoria = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="editarCategoria">Alterar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogFormProduto" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Cadastro de produto</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="Nome" v-model="novoProduto.nome" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="Preço"
                  v-model="novoProduto.preco"
                  type="number"
                  required
                  :prefix="'R$'"
                  >
                </v-text-field>
              </v-flex>
              <v-flex xs12>
                <picture-input
                  ref="pictureInput"
                  width="600"
                  height="600"
                  margin="16"
                  accept="image/jpeg,image/png"
                  size="10"
                  button-class="btn"
                  :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Escolha uma imagem',
                    change: 'Mudar foto'
                  }"
                  @change="onChange">
                </picture-input>
              </v-flex>
            </v-layout>
          </v-container>
          <small>* Campos obrigatórios</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="dialogFormProduto = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="cadastrar">Cadastrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <v-dialog v-model="dialogFormProdutoEdita" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Editando {{ produtoSelecionado.nome }}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="Nome" v-model="produtoSelecionado.nome" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="Preço"
                  v-model="produtoSelecionado.preco"
                  type="number"
                  required
                  :prefix="'R$'"
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <picture-input
                  ref="pictureInput"
                  width="600"
                  height="600"
                  margin="16"
                  accept="image/jpeg,image/png"
                  size="10"
                  button-class="btn"
                  :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Escolha uma imagem',
                    change: 'Mudar foto'
                  }"
                  @change="onChange">
                </picture-input>
              </v-flex>
            </v-layout>
          </v-container>
          <small>* Campos obrigatórios</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="dialogFormProdutoEdita = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="editarProduto">Editar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  import PictureInput from 'vue-picture-input'
  export default {
    components: {
      PictureInput
    },
    data () {
      return {
        search: '',
        dialogFormProduto: false,
        dialogFormCategoria: false,
        editFormCategoria: false,
        dialogFormProdutoEdita: false,
        isLoading: true,
        novoProduto:{
          nome:"",
          preco:"",
          imagem:null,
          ext:''
        },
        novaCategoria: {
          nome: ''
        },
        produtoSelecionado:{
          nome:"",
          preco:"",
          imagem:null,
          ext:'',
          _id: ''
        },
        categorias: [
          {
            text: 'Nome',
            align: 'center',
            sortable: false,
            value: 'nome'
          },
          {
            text: 'Ação',
            align: 'center',
            sortable: false,
            value: 'name'
          },

        ],
        headers: [
          {
            text: 'Nome',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {
            text: 'Preço',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {
            text: 'Status',
            align: 'left',
            sortable: false,
            value: 'status'
          },
          {
            text: 'Imagem',
            align: 'left',
            sortable: false,
            value: 'imagem'
          },
          {
            text: 'Ação',
            align: 'left',
            sortable: false,
            value: 'name'
          },
        ]
      }
    },
    methods:{
      ...mapActions(['loadProdutos','saveProdutos', 'editaProduto', 'checkUsuario', 'listaCategoriaProduto', 'cadastraCategoriaProduto', 'alteraCategoriaProduto', 'removeCategoriaProduto']),
      onChange (image) {
        console.log('New picture selected!')
        if (image) {
          let [format, base] = image.split(',')
          format = format.replace('data:image/', '').replace(';base64', '')
          this.novoProduto.imagem = base
          this.novoProduto.ext    = format
        } else {
          console.log('FileReader API not supported: use the <form>, Luke!')
        }
      },

      cadastrarCategoria() {
        this.cadastraCategoriaProduto( this.novaCategoria ).then(r=>{
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.dialogFormCategoria = false
            this.checkUsuario()
            this.listaCategoriaProduto()
          }else{
            this.$eventHub.$emit('snackBarError', r.message);
          }
        }).catch(e => {
          this.$eventHub.$emit('snackBarError', 'Erro ao cadastrar categoria');
        })
      },

      cadastrar()
      {
          let formData = new FormData()
          formData.append("nome", this.novoProduto.nome)
          formData.append("preco", this.novoProduto.preco)
          formData.append("imagem", this.novoProduto.imagem)
          formData.append("ext", this.novoProduto.ext)
          //formData.append("empresa", this.empresaSelecionada._id)

        this.saveProdutos( formData ).then(r=>{
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.dialogFormProduto = false
            this.checkUsuario()
            this.refresh()
          }else{
            this.$eventHub.$emit('snackBarError', r.message);
          }
        }).catch(e => {
          this.$eventHub.$emit('snackBarError', 'Erro ao cadastrar produto');
        })
      },
      refresh () {
        this.isLoading = true
        if(this.empresaSelecionada){
          this.loadProdutos(this.empresaSelecionada).then(r => {
            this.isLoading = false
          })
        }
        else console.log("Falta empresa selecionada")
      },

      editItemCategoria(categoria) {
        this.editFormCategoria = true
        this.novaCategoria = Object.assign({}, categoria)

      },

      editarCategoria(){
        this.alteraCategoriaProduto(this.novaCategoria).then(r => {
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.editFormCategoria = false
            this.listaCategoriaProduto()
          }
        })
      },

      deleteItemCategoria(categoria_id)
      {
        if(confirm("Tem certeza?"))
        {
            this.removeCategoriaProduto(categoria_id).then(r => {
              this.$eventHub.$emit('snackBar', r.message);
              this.listaCategoriaProduto()
            })
        }
      },

      showFormEditaProduto(p){
        delete p.createdAt
        delete p.updatedAt
        delete p.__v
        this.produtoSelecionado = p

        this.dialogFormProdutoEdita = true
      },
      editarProduto () {
        this.editaProduto(this.produtoSelecionado).then(r => {
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.dialogFormProdutoEdita = false
            this.checkUsuario()
            this.refresh()
          }else{
            this.$eventHub.$emit('snackBarError', r.message);
          }
        }).catch(e => {
          this.$eventHub.$emit('snackBarError', 'Erro ao editar produto');
        })
      }
    },
    mounted() {
      this.loadProdutos().then(r => this.isLoading = false)
      this.listaCategoriaProduto()
      //this.checkUsuario()
    },
    computed: {
      ...mapGetters(['getCategoriasProdutos', 'getProdutos'])
      /*produtos () {
        return this.$store.getters.getProdutos
      },
      empresaSelecionada () {
        return this.$store.getters.getEmpresaSelecionada
      }*/
    },
    /*watch: {
      empresaSelecionada () {
        this.refresh()
      }
    }*/
  }
</script>
