<template>

    <v-container grid-list-md text-xs-center>

        <h1>Bem-vindo, Root!</h1>

        <h4>Resumo de suas atividades:</h4>


        <div class="d-flex" style="margin-top:50px">
            <CardStatus title="Usuários Ativos" icon="person" color="#58a9d8" :total="getUsuariosTotal"/>
            <CardStatus title="Produtos Cadastrados" icon="shopping_cart" color="#009688" :total="getProdutosTotal"/>
            <CardStatus title="Empresas Cadastradas" icon="store" color="#3F51B5" :total="getEmpresasTotal"/>
            <CardStatus title="Locais Cadastrados/Ativos" icon="place" color="#607D8B" :total="getCidadesTotal"/>
        </div>
        <v-layout row wrap>      
          <v-flex  xs4>
            <h2 class="text-xs-center">Produtos por categoria</h2>
            <pie-chart :colors="['#009688', '#006064', '#4fc3f7', '#311b92', '#558b2f', '#d32f2f']" :data="getProdutosCategoria"></pie-chart>
          </v-flex>

          <v-flex  xs4>
            <h2 class="text-xs-center">Cidades por estado</h2>
            <pie-chart :colors="['#546e7a', '#795548', '#bf360c', '#ffa000', '#5c6bc0', '#69f0ae']" :data="getCidadesEstado"></pie-chart>
          </v-flex>

          <v-flex  xs4>
            <h2 class="text-xs-center">Produtos por empresa</h2>
            <pie-chart :colors="['#64dd17', '#00bfa5', '#0091ea', '#3d5afe', '#ff5252', '#b388ff']" :data="getProdutosEmpresa"></pie-chart>
          </v-flex>         
        </v-layout>
    </v-container>
</template>


<script>
  import CardStatus from '../../CardStatus'
  import {mapGetters} from 'vuex'
  export default {
    components:{
      CardStatus
    },
    data () {
      return {
        search: '',
        headers: [
          { text: 'id', value: 'id', align:'center' },
          { text: 'Telefone', value: 'telefone', align:'center' },
          { text: 'Mensagem', value: 'mensagem', align:'center' },
          { text: 'Data de criação', value: 'datacriacao', align:'center' },
          { text: 'Status', value: 'status', align:'center' }
        ],
        mensagens: [
          {
            value: false,
            id: 'Frozen Yogurt',
            telefone: 159,
            mensagem: 6.0,
            datacriacao: 24,
            status: 4.0
          },
        ],
        chart: {
          colors: ['#4caf50', '#f44336', '#2196f3', '#ff9800', '#673ab7', '#ffeb3b'],
                chart: {
					title: 'Filas'
                },
				
				  fontSize: 15,
          height: 350,
        }
      }
    },
    computed: {
      ...mapGetters(['getEmpresasTotal', 'getCidadesTotal', 'getUsuariosTotal', 'getProdutosTotal', 'getCidadesEstado', 'getProdutosCategoria', 'getProdutosEmpresa'])
    }
  }
</script>

<style lang="stylus" scoped>
  .d-flex
    display flex
    justify-content space-between
    margin-bottom 30px

  .padding
    padding 50px

</style>
